@model IEnumerable<PurchaseManagementSystem.Models.Item>

@{
    ViewData["Title"] = "Index";
}


<h5>
    <a asp-action="Create">Print Report</a>
</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @if (item.Availability == 1)
                {
                    <td>
                        In Stock
                    </td>
                }
                @if (item.Availability == 0)
                {
                    <td>
                        Out Of Stock
                    </td>
                }

               
            </tr>
        }
    </tbody>
</table>
